<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar Livros</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script type="text/javascript">
        const api = axios.create({
            baseURL: 'http://localhost:3000'
        })
    </script>
</head>
<body>
    <div>
        <header>
            <h1>Deletar Livros</h1>
            <a href="../index.html">Home</a>
        </header>
        <form onsubmit="deleteBooks(event)">
            <input type="text" name="book" placeholder="Buscar pelo título do livro">
            <button type="submit">Enviar</button>
            <input type="reset" name="clean" value="Limpar">
        </form>
    </div>

    <script>

        async function deleteBooks(event){
            event.preventDefault()

            let titleBook = event.target.book.value
            const response = await api.get("/books/"+titleBook)
            await api.delete("/books/"+response.data.id)
            alert(`${response.data.title} foi deletado`)
        }

    </script>
</body>
</html>