<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Livro</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script type="text/javascript">
        const api = axios.create({
            baseURL: 'http://localhost:3000'
        })
    </script>
</head>
<body>
    <div>
        <header>
            <h1>Busca de Livros</h1>
            <a href="../index.html">Home</a>
        </header>
        <form method="GET" onsubmit="searchBooks(event)">
            <input type="text" name="book" placeholder="Buscar pelo título do livro">
            <button type="submit">Enviar</button>
            <input type="reset" name="clean" value="Limpar">
            <ul id="list"></ul>
        </form>
    </div>

    <script>

        async function searchBooks(event){
            event.preventDefault()

            let idBook = event.target.book.value
            console.log(idBook)
            const response = await api.get("/books/"+idBook)
            console.log(response.data)
            
            const list = document.querySelector('#list')
            
            const titleBook = response.data.title
            const authorBook = response.data.author

            list.innerHTML = ''

            let strBook = '<li>'+'Titulo: '+titleBook+' Autor: '+authorBook+'</li>'
            list.innerHTML = strBook
        }

    </script>
</body>
</html>